@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/Application/Base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Authentication.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Account.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Content.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Person.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Book.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Application/Application.js")" type="text/javascript"></script>
}
<div data-ng-controller="AccountController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">DemoApp</a>
        </div>
        <form class="navbar-form navbar-right" role="form" data-ng-show="IsLoaded">
            <button type="submit" data-ng-show="!IsAuthenticated" class="btn btn-success" data-ng-click="ShowSignInForm = true; ShowRegistrationForm = false;"><span class="glyphicon glyphicon-log-in"></span><span>&nbsp;Sign In</span></button>
            <button type="submit" data-ng-show="!IsAuthenticated" class="btn btn-info" data-ng-click="ShowRegistrationForm = true; ShowSignInForm = false;"><span class="glyphicon glyphicon-user"></span><span>&nbsp;Register</span></button>
            <button type="submit" data-ng-show="IsAuthenticated" class="btn btn-primary" data-ng-click="SignOut()"><span>Sign Out&nbsp;</span><span class="glyphicon glyphicon-log-out"></span></button>
        </form>
        <span class="navbar-text pull-right" data-ng-show="IsAuthenticated">Welcome <b>{{Account.Username}}</b></span>
    </nav>

    <div class="row" data-ng-show="IsAuthenticated">
        <div class="col-md-3" data-ng-controller="ContentController">
            <div class="list-group">
                <a data-ng-repeat="item in Collection" class="list-group-item {{item.Type}}" href="#!/{{item.Type}}/{{item.Id}}">
                    <div>{{item.Name}}</div>
                    <div>{{item.Description}}</div>
                </a>
            </div>
        </div>
        <div class="col-md-9 ng-view"></div>
    </div>

    <div class="row" data-ng-show="ShowRegistrationForm">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="r_username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="r_username" placeholder="Username" data-ng-model="Account.Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="r_password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="r_password" placeholder="Password" data-ng-model="Account.Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" data-ng-click="Register()">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row" data-ng-show="ShowSignInForm">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="s_username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="s_username" placeholder="Username" data-ng-model="Account.Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="s_password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="s_password" placeholder="Password" data-ng-model="Account.Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" data-ng-click="SignIn()">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
