<!DOCTYPE html>
<html data-ng-app="Application">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/JS")
    @System.Web.Optimization.Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container">@RenderBody()</div>
</body>
</html>